.margin_top-50 {
  margin-top: 50px; }

.margin_top-10 {
  margin-top: 1rem; }

.margin_bt-10 {
  margin-bottom: 1rem; }

.color__gray {
  color: #5a636c; }

.color__text {
  color: #25564b; }

.font-size-2x {
  font-size: 2.4rem; }

.font-size-3x {
  font-size: 3rem; }

.text-center {
  text-align: center; }

/* from reset.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  font-size: 62.5%;
  /* 1rem = 10px */ }
  @media only screen and (max-width: 75em) {
    html,
    body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html,
    body {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html,
    body {
      font-size: 75%; } }

body {
  line-height: 1.2;
  font-family: "Lato", sans-serif; }

.primary__header {
  font-size: 6rem;
  color: #fff; }

.secondary__header {
  font-size: 5rem;
  color: #000;
  opacity: 0.8; }
  @media only screen and (max-width: 56.25em) {
    .secondary__header {
      margin-bottom: 2rem; } }

.thrid__header {
  font-size: 3rem; }

.four__header {
  font-size: 2.2rem;
  opacity: 0.8; }

.para {
  font-size: 1.8rem; }
  @media only screen and (max-width: 56.25em) {
    .para {
      font-size: 2rem; } }

.para2 {
  font-size: 1.6rem; }

.header {
  height: 60rem;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem;
  position: relative;
  background-size: cover;
  background-position: center; }

.header__top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.header__hamburger {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .header__hamburger {
      display: block;
      right: 2rem; } }

.header__menu {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .header__menu {
      opacity: 0;
      padding: 1rem 0;
      flex-direction: column;
      align-items: center;
      background: #fff;
      width: 30rem;
      box-shadow: 5px 5px 5rem #2f2e2e75;
      border-radius: 4px;
      position: absolute;
      right: 0;
      top: 6rem; } }

.header__menu__item {
  width: 12rem;
  padding: 1.5rem;
  font-weight: bold;
  border-radius: 10rem;
  text-align: center;
  list-style-type: none;
  font-size: 1.8rem;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .header__menu__item {
      flex-direction: column;
      color: #5a636c; } }

.header__menu__item:hover {
  display: inline-block;
  background-color: #fff;
  color: #000; }
  @media only screen and (max-width: 37.5em) {
    .header__menu__item:hover {
      background-color: #fad400; } }

.header__check {
  display: none; }

.header__check:checked ~ .header__menu {
  opacity: 1; }

.footer {
  height: 15rem;
  background-color: #458c7e;
  display: flex;
  justify-content: center; }

.footer__content {
  width: 50%;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.header__content {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .header__content {
      width: 100%;
      margin-top: 12rem; } }

.arrow {
  transform: translateY(50px); }
  @media only screen and (max-width: 37.5em) {
    .arrow {
      height: 13rem;
      transform: translateY(30px); } }

.features {
  height: 50rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .features {
      height: 80rem;
      flex-direction: column; } }

.features__item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .features__item {
      height: 100rem;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .features__item {
      padding: 3rem;
      width: 100%;
      height: 50rem; } }

.features__item--image--1 {
  width: 50%;
  background-image: url("../images/desktop/image-transform.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 37.5em) {
    .features__item--image--1 {
      width: 100%; } }

.features__item--image--2 {
  width: 50%;
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 37.5em) {
    .features__item--image--2 {
      width: 100%; } }

.features__item__content {
  width: 80%;
  padding: 0px 5rem; }
  @media only screen and (max-width: 56.25em) {
    .features__item__content {
      width: 70%; } }
  @media only screen and (max-width: 37.5em) {
    .features__item__content {
      width: 100%;
      padding: 8rem 2rem; } }

/* services */
.services {
  display: flex;
  height: 50rem; }
  @media only screen and (max-width: 56.25em) {
    .services {
      height: 95rem;
      flex-direction: column;
      flex-direction: column; } }

.services__item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  @media only screen and (max-width: 56.25em) {
    .services__item {
      width: 100%;
      height: 100%; } }

.services__item--1 {
  background: url("../images/desktop/image-graphic-design.jpg");
  background-size: cover; }

.services__item--2 {
  background: url("../images/desktop/image-photography.jpg");
  background-size: cover; }

.services__content {
  margin-bottom: 2.5rem;
  width: 60%;
  text-align: center; }

.review {
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .review__box {
    width: 100rem; }
    .review__box__header {
      font-family: "Lato", sans-serif;
      font-size: 3.5rem;
      color: #5a636c; }

.reviewer__con {
  display: flex;
  margin-top: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .reviewer__con {
      flex-direction: column;
      align-items: center; } }

.reviewer {
  width: calc(100% / 3);
  height: 40rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
  border-radius: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .reviewer {
      width: 45rem;
      padding: 0 5rem;
      margin-top: 2rem;
      margin-bottom: 5rem; } }
  .reviewer:hover {
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff; }
  .reviewer__review__image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden; }
    .reviewer__review__image__reriew__img {
      width: 100%;
      height: 100%; }
  .reviewer__content {
    text-align: center; }
    .reviewer__content p {
      color: #5a636c;
      line-height: 1.7; }
  .reviewer__name h3 {
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 0.8; }
  .reviewer__name p {
    font-size: 1.1rem;
    color: #5a636c; }

.gallery {
  height: 35rem;
  display: flex;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      height: auto;
      flex-wrap: wrap; } }
  .gallery__item {
    width: calc(100% / 4);
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .gallery__item {
        width: 50%;
        height: 30rem; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
