
@mixin absCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


// MEDIA QUERY MANAGER

// 0-600px =  phone 
// 600-900px tablet portrait
// 900-1200px tablet landscape
// 1200-1800px desktop

// $breakpoint
// phone 
// tablet portrait
// tablet landscape
// desktop


@mixin respond($breakpoint) {
    @if $breakpoint == "phone" {
        @media screen and (max-width: 37.5em) {
            @content;
        }
    }
    @if $breakpoint == "tablet-port" {
        @media screen and (min-width: 37.5em) and (max-width: 56.25em) {
            @content;
        }
    }
    @if $breakpoint == "tablet-land" {
        @media screen and (min-width: 56.25em) and (max-width: 75em) {
            @content;
        }
    }
    @if $breakpoint == "desktop" {
        @media screen and (min-width: 75em) {
            @content;
        }
    }
}



