// COLLORS 
$primary-color:#fff;
$primary-color-dark:hsl(213, 9%, 39%);
$secondary-color:#000;
$dark-green:hsl(167, 40%, 24%);

// FONTS
$default-font:"Lato", sans-serif;

// widths
$width-container-md:50%; 

// opacity
$opacity-8:.8; 