// form nav

.header__menu {
  display: flex;

  @include respond(phone) {
    opacity: 0;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    background: $primary-color;
    width: 30rem;
    box-shadow: $shadow-sm;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 6rem;
  }
}

.header__menu__item {
  width: 12rem;
  padding: 1.5rem;
  font-weight: bold;
  border-radius: 10rem;
  text-align: center;
  list-style-type: none;
  font-size: 1.8rem;
  color: $primary-color;

  @include respond(phone) {
    flex-direction: column;
    color: $primary-color-dark;
  }
}
.header__menu__item:hover {
  display: inline-block;
  background-color: $primary-color;
  color: $secondary-color;
  
  @include respond(phone) {
    background-color: $yellow;
  }
}

.header__check {
  display: none;
}

.header__check:checked ~ .header__menu {
  opacity: 1;
}
