// from utility 

.margin_top-50 {
  margin-top: 50px;
}
.margin_top-10 {
  margin-top: 1rem;
}
.margin_bt-10 {
  margin-bottom: 1rem;
}
.color__gray {
  color: hsl(213, 9%, 39%);
}
.color__text {
  color: hsl(167, 40%, 24%);
}
