// from utility 

.margin_top-50 {
  margin-top: 50px;
}
.margin_top-10 {
  margin-top: 1rem;
}
.margin_bt-10 {
  margin-bottom: 1rem;
}
.color__gray {
  color: $primary-color-dark;
}
.color__text {
  color: $dark-green;
}

.font-size-2x {
  font-size: 2.4rem;
}
.font-size-3x {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}